body{
    margin: 0;
    padding: 0;
    background-color: rgb(195, 167, 222);
}
header, footer{

    width: 100%;
    background-color: rgb(98, 38, 148);
}
header{
    height: 15vh;
}

footer{
   height: 5vh;
}